{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Online guide</h1>

            <h2>What is the BEHAVE application?</h2>

            <p>The BEHAVE application, a software to ease the way for teachers to apply behavioural evidence-based interventions at school.</p>

            <h2>What are behavioural evidence-based interventions?</h2>

            <p>Behavioural evidence-based interventions are plans to reduce problem behaviours or increase positive behaviors
                that have a documented empirical evidence of their effectiveness.
                The BEHAVE application is able to automatically calculate the size of
                the effect of a behavioral intervention plan and to show the results in an easy way.
            </p>

            <h2>What are the main features of the BEHAVE application?</h2>

            <p>The features of the BEHAVE application follow the 6 steps described in the image below:</p>

            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('images/behave-steps.png') }}" class="img-responsive">
                </div>
            </div>

            <p>You can learn how to master every step, following the guided tour:</p>

            <iframe src="//www.slideshare.net/slideshow/embed_code/key/y9IMGc54eIzfZd" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/GianlucaMerlo/behave-application-guided-tour-175915527" title="BEHAVE application - Guided tour" target="_blank">BEHAVE application - Guided tour</a> </strong> from <strong><a href="https://www.slideshare.net/GianlucaMerlo" target="_blank">Gianluca Merlo</a></strong> </div>

            <p>or you read and download the BEHAVE user guide: </p>

            <embed src="{{ asset('download/behave-user-guide.pdf') }}" type="application/pdf" width="50%" height="600px" />
        </div>
    </div>

{% endblock %}