{% extends 'base.html.twig' %}

{% block body %}
    <h1>BEHAVE Privacy Policy</h1>

    <p>The following provisions are made in accordance with the EU General Data Protection Regulation 2016/679 and Article 13 of Italian Legislative Decree No. 196/2003.
    This statement sets out the provisions governing the processing and use of any personal data you provide to the Institute for Educational Technology, CNR (ITD-CNR), including to whom and where those data can be transferred. It also specifies your rights with respect to those data.
    In accordance with provisions for the protection of personal data of individuals and of other entities set out in Article 13 of Italian Legislative Decree No. 196/2003 (henceforth “Italian Privacy Code”) and in Article 13 of the EU General Data Protection Regulation 2016/679 (henceforth “GDPR 2016/679”), we hereby inform you that any personal data you provide will be processed in accordance with the abovementioned regulations and with the privacy provisions that ITD-CNR is required to observe.
    The BEHAVE application (https://app.behaveproject.eu, “our application”) is one of the mail results of the BEHAVE project (Behavioral management model across europe; ERASMUS + KA2 Strategic Partnership for school education - 2017-1-IT02-KA201-036540). This privacy policy will explain how the partners (“we”, “us”) of the BEHAVE project use the personal data collected from you when you use the application.
    </p>
    <p>Topics:</p>
    <ul>
        <li>Purposes and obligations of personal data management</li>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How do we use cookies?</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>The Data Controller and Processor</li>
        <li>Data Protection Officer (DPO)</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
    </ul>

    <h2>Purposes and obligations of personal data management</h2>
    <p>ITD-CNR will manage your personal data in accordance with the purposes set out in GDPR 2016/679. Specifically, these concern the performance of ITD-CNR’s public functions and/or activities related to the exercising of its public duties. This includes archiving, search and analysis of data for statistical purposes.
    Your personal data are needed to fulfil legal requirements, including those concerning communications with the National Research Council (CNR).</p>

    <h2>What data do we collect?</h2>
    <p>The BEHAVE application collects just your e-mail address when you sign up to the application. We receive and store certain types of usage information whenever you interact with the application; this information is not Personal Information or Children’s Personal Information.
    If you use your Google login details, you give Google permission to share the information that you have made public in your Google profile. This only includes your first and last name, your email address and whether your email address has been validated, your age range, a link to your Google profile and, if you have one, your profile picture.
    Technical information may include the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, operating system and platform. Location is inferred based on IP location.
    How do we collect your data?</p>
    <p>You directly provide us with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Register online.</li>
        <li>Use or view our website via your browser’s cookies.</li>
    </ul>

    <p>We receive your data indirectly from Auth0 (https://auth0.com/privacy/), a service managing the application authentication and authorization processes.</p>

    <h2>How will we use your data?</h2>

    <p>We use personal data collected through our application for the following purposes:</p>
    <ul>
        <li>To provide the services you sign up for and to make you aware of any changes to our services.</li>
        <li>To carry out statistical analysis of the data collected through the BEHAVE application for research purposes.</li>
        <li>For statistical purposes such as analysing the performance of our sites and apps and to understand how visitors use them.</li>
        <li>To respond to your queries and to resolve complaints.</li>
        <li>For security and fraud prevention, and to ensure that our application is safe and secure and used in line with our terms of use.</li>
        <li>To comply with applicable laws and regulations.</li>
        <li>To contact you for research purposes, for example about a survey. You can opt out from being contacted in this writing an email to developers@behaveproject.eu.</li>
    </ul>

    <h2>How do we store your data?</h2>
    <p>We securely store your data on a server located at Istituto per le Tecnologie Didattiche, via Ugo La Malfa 153, 90146 Palermo (Italy). We have implemented appropriate technical controls to protect your personal data against unauthorised processing and against accidental loss, damage or destruction. You are responsible for choosing a secure password when we ask you to set up a password to access the application. You should keep this password confidential and you should choose a password that you do not use on any other site. You should not share your password with anyone else. Unfortunately, sending information via the Internet is not completely secure. Although we will do our best to protect your personal data once with us, we cannot guarantee the security of any personal data sent to our site while still in transit and so you provide it at your own risk.</p>

    <h2>What are your data protection rights?</h2>
    <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <ul>
        <li>The right to access – You have the right to request us for copies of your personal data.</li>
        <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request us to complete the information you believe is incomplete.</li>
        <li>The right to erasure – You have the right to request that we erase your personal data.</li>
        <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data.</li>
        <li>The right to object to processing – You have the right to object to us processing of your personal data.</li>
        <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you.</li>
    </ul>

    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email privacy@itd.cnr.it, attaching a scan of your passport, driver’s licence, or similar document as proof of identity.</p>

    <h2>Cookies</h2>
    <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you visit our application, we may collect information from you automatically through cookies or similar technology</p>

    <h2>How do we use cookies?</h2>
    <p>We use cookies in a range of ways to improve your experience on our website, including:</p>

    <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
    </ul>

    <h2>What types of cookies do we use?</h2>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
        <li>Functionality – We use these cookies so that we recognize you on our website and keeping you signed up if you want to. A mix of first-party and third-party cookies are used.</li>
        <li>Analytics – cookies that are used to collect information about your visit to our site, the content you have viewed, the links you have followed and information about your browser, device and your IP address.</li>
    </ul>

    <h2>Cookies used:</h2>
        <ul>
            <li>PHPSESSID: a cookie to allow users to sign in.</li>
            <li>_ga: a cookie to monitor how users interact with application content.</li>
        </ul>

    <h2>How to manage cookies</h2>
    <p>You can set your browser not to accept cookies, and manually remove cookies from your browser. However, in a few cases, some of our application features may not function as a result.</p>

    <h2>Privacy policies of other websites</h2>
    <p>The BEHAVE application doesn’t contain links to other websites.</p>

    <h2>Changes to our privacy policy</h2>
    <p>We keep its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 12 September 2019.</p>

    <h2>The Data Controller and Processor</h2>
    <p>The Data Controller is the National Research Council - Consiglio Nazionale delle Ricerche (CNR), with registered offices at Piazzale Aldo Moro 7, 00185 Rome (IT).</p>
    <ul>
        <li>Data Protection Officer (DPO)</li>
        <li>Certified Email Account: rpd@cnr.it.</li>
    </ul>
    <p>Where authorised by the Data Controller / Processor, the DPO may appoint one of more intermediary service providers. Where any managing officers are appointed by such providers, the personal data of those officers are to be made available to all interested parties.</p>

    <h2>How to contact us</h2>
    <p>If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
    <p>Email us at: developers@behaveproject.eu</p>
    <p>Call us at: +39091680200</p>
    <p>Or write to us at:</p>
    <p>Istituto per le Tecnologie Didattiche – Consiglio Nazionale delle Ricerche<br>
    Via Ugo la Malfa, 153<br>
    90146 Palermo (Italy)</p>

    <h2>How to contact the appropriate authority</h2>
    <p>If you have any questions about how we use your personal data or if you have a concern about how your personal data is used, please contact the Data Protection Officer at Consiglio Nazionale delle Ricerche, P.le Aldo Moro, 7; 00185, Roma (Italy). Or, email segreteria.dg@cnr.it.
    Complaints will be dealt with by the Data Protection Manager, and will be responded to within 30 days.
    If you are not satisfied with the way your concern has been handled, you can refer your complaint to the Information Commissioner’s Office.</p>


{% endblock %}