.page-header.navbar .page-logo .logo-default {
    margin: 4px 0 0;
}

.red-button, .red-button:hover {
    background-color: darkred;
    color: #ffffff;
}

.progress-bar {
    width: 100%;
    margin: 10px auto;
    height: 22px;
    background-color: darkgray;
}

.progress-bar div {
    height: 100%;
    text-align: right;
    padding: 0;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: cornflowerblue;
    box-sizing: border-box;
}

.bootstrap-tagsinput{
    width: 100%;
}

.time-range-start-time,
.time-range-end-time,
.exact-time,
.weekly-nr-of-weeks,
.weekly-days-of-week,
.repeat-end,
.repeat-end-after-nr-of-occurrences,
.repeat-end-date {
    display: none;
}

.opaque {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.phase-container, .item-container {
    cursor: pointer;
}

/*****************************/
/*   LEGEND SPINNER COLORS   */
/*****************************/
.azure { background-color: #C5F3FF; }
.blue { background-color: #C7D7FF; }
.yellow { background-color: #FFDF99; }
.rose { background-color: #F7CA9F; }

/*****************************/
/*            SLICK          */
/*****************************/
.slider-for {
    min-height: 500px;
}

.mt-element-step .step-thin .active {
    background-color: #2C3E50 !important;
}

.mt-element-step .step-thin .active .mt-step-number {
    color: #2C3E50 !important;
}

.slick-prev:before, .slick-next:before {
    color:#2C3E50 !important;
}