.red-button, .red-button:hover {
    background-color: darkred;
    color: #ffffff;
}

.progress-bar {
    width: 100%;
    margin: 10px auto;
    height: 22px;
    background-color: darkgray;
}

.progress-bar div {
    height: 100%;
    text-align: right;
    padding: 0;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: cornflowerblue;
    box-sizing: border-box;
}
