.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }

.page-header.navbar .page-logo .logo-default {
    margin: 4px 0 0;
}

.red-button, .red-button:hover, .red-button:visited, .red-button:link, .red-button:active {
    background-color: darkred;
    color: #ffffff;
}

.control-label .required, .form-group .required {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    color: #333;
    font-size: 14px;
}

.control-label .required, .form-group .required::after {
    content: "*";
}

.behavioral-recording-progress-bar {
    width: 100%;
    margin: 10px auto;
    height: 22px;
    background-color: darkgray;
}

.behavioral-recording-progress-bar div {
    height: 100%;
    text-align: right;
    padding: 0;
    line-height: 22px;
    width: 0;
    background-color: cornflowerblue;
    box-sizing: border-box;
}

.dashboard-stat2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: none;
    padding: 0;
}

.dashboard-stat2 .progress-info .status {
    font-size: 11px;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
}

.progress {
    background-color: lightgray;
}

.bootstrap-tagsinput{
    width: 100%;
}

.time-range-start-time,
.time-range-end-time,
.exact-time,
.weekly-nr-of-weeks,
.weekly-days-of-week,
.repeat-end,
.repeat-end-after-nr-of-occurrences,
.repeat-end-date {
    display: none;
}

.opaque {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.phase-container, .item-container {
    cursor: pointer;
}

.dropdown-menu.measure-menu {
    top:-230px;
    left: 15px;
}

/*****************************/
/*   LEGEND SPINNER COLORS   */
/*****************************/
.azure { background-color: #C5F3FF; }
.blue { background-color: #C7D7FF; }
.yellow { background-color: #FFDF99; }
.rose { background-color: #F7CA9F; }

/*****************************/
/*            SLICK          */
/*****************************/
.slider-for {
    min-height: 500px;
}

.mt-element-step .step-thin .active {
    background-color: #2C3E50 !important;
}

.mt-element-step .step-thin .active .mt-step-number {
    color: #2C3E50 !important;
}

.slick-prev:before, .slick-next:before {
    color:#2C3E50 !important;
}

/*****************************/
/*        FASTSELECT         */
/*****************************/

/* fix the textarea size */
.fstMultipleMode .fstControls {
    box-sizing: border-box;
    padding: 0.5em 0.5em 0em 0.5em;
    overflow: hidden;
    width: 100% !important;
    cursor: text;
}

.fstResultItem {
    font-size: 1em !important;
    display: block;
    padding: .5em .71429em;
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #fff;
}

.fstMultipleMode .fstQueryInput {
    font-size: 1em !important;
    float: left;
    padding: .28571em 0;
    margin: 0 0 .35714em 0;
    width: 2em;
    color: #999;
}

.fstChoiceItem {
    display: inline-block;
    font-size: 1em !important;
    position: relative;
    margin: 0 .41667em .41667em 0;
    padding: .33333em .33333em .33333em 1.5em;
    float: left;
    border-radius: .25em;
    border: 1px solid #43A2F3;
    cursor: auto;
    color: #fff;
    background-color: #43A2F3;
    -webkit-animation: fstAnimationEnter 0.2s;
    -moz-animation: fstAnimationEnter 0.2s;
    animation: fstAnimationEnter 0.2s;
}