<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}

    <style>

        .square {
            float:left;
            position: relative;
            width: 9.09%;
            padding-bottom : 9.09%;
            margin:0;
            border: 1px solid lightgray;

        }

        .square:hover {
            background-color: greenyellow;
        }

        .content {
            position:absolute;
            height:90%; /* = 100% - 2*5% padding */
            width:90%; /* = 100% - 2*5% padding */
            padding: 5%;

        }
        .table{
            display:table;
            width:100%;
            height:100%;
        }
        .table-cell{
            display:table-cell;
            vertical-align:middle;
        }

        .meter-labels{
            font-weight:900;
            font-size:10pt;
        }

        .rotate-labels {
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            writing-mode: lr-tb;
        }

        .x-axis {
            border: 0;
            border-top: 1px solid #000000;
        }

        .x-axis:hover {
            background: none;
        }

        .y-axis {
            border: 0;
            border-right: 1px solid #000000;
        }

        .y-axis:hover {
            background: none;
        }

        .first-column-row {
            border-right: 0;
        }

        .sixth-row {
            border-right: 1px dashed #000000;
        }

        .sixth-column {
            border-top: 1px dashed #000000;
        }

    </style>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'nav_bar.html.twig' %}
    <div class="container-fluid">
        <div class="row jumbotron">
            <header class="col-md-12">
                <h1>Behave</h1>
            </header>
        </div>

        {% block body %}{% endblock %}
    </div>


{% block javascripts %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>