<nav class="navbar navbar-default navbar-fixed-top">
    <div id="navbar" class="collapse navbar-collapse pull-right">


                <li class="active"><a href="/connect/auth0">Logins</a></li>


    </div>
</nav>